@import "../../../utilities/colors.scss";
.categorySection {
  margin-top: 47px;
  .categoryHead {
    display: block;
    margin-bottom: 17px;
    color: $theme-secondary;
    font-weight: 700;
    font-size: 22px;
  }
  .imgWrapper {
    overflow: hidden;
    .gridImage {
      width: 100%;
      height: auto;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      &:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
    }
  }

  .linkHover {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $theme-secondary;
    }
  }
  @media (max-width: 768px) {
    margin-top: 17px;
  }
}
