$theme-primary: #93b4bc;
$theme-secondary: #454664;
$theme-primary-light: #e9edf6;
$theme-red: #8b201d;
$white-color: #fff;
$black-color: #000;

$primary-linear-gradient: linear-gradient(180deg, #679cf6 0%, #4072ee 100%);
