@import "../../utilities/colors.scss";

.pageWrapper {
  flex: 1;
  background-color: $theme-primary-light;
  max-height: 100vh;
  overflow-y: auto;
  padding-bottom: 120px;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: $theme-primary;
  }
  @media (max-width: 990px) {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 0px;
    }
  }
}
