@import "../../utilities/colors.scss";
.sidebarWrapper {
  height: calc(100vh - 74px);

  .tabWrapper {
    max-height: 100vh;
    width: 81px;
    height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $theme-secondary;
  }
  .sideBarBtn {
    width: 100%;
    padding: 23px;
    position: relative;
    &::after {
      content: "";
      bottom: 0;
      position: absolute;
      background-color: #e8f0f8;
      width: 20px;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
    }
    svg {
      width: 24px;
      height: 20px;
    }
  }
  .sidebarBtnActive {
    width: 100%;
    padding: 23px;
    background: $primary-linear-gradient !important;
    &::after {
      display: none;
    }
  }
  .sideBarInner {
    display: flex;
  }
  @media (max-width: 768px) {
    height: auto;
    .tabWrapper {
      height: auto;
      width: 100%;
      flex-direction: row;
    }
  }
}

.tabpanelContainer {
  flex: 1;
  background-color: $theme-primary-light;
}
